html, body {
	height: 100%;
	width: 100%;
}

.main{
	/*background-color: #f9f9f6;*/
	background: url('img/background.jpg');
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center ;
	justify-content: center;
	text-align: center;
}

.main > h1 { 

}
.main a {
    color: #3b5998; 
    background-color: transparent; 
    text-decoration: none;
}
 .main a:hover {
 	color: red; 
    background-color: transparent; 
    text-decoration: none;
 }

